#iconos{
    color: #ac0000;
    font-size: 5vh;
}

#iconos:hover{
    color: #700101;
}

#pag2{
background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}
.row{
    margin: 4vw;
    padding: 4vw;

}

#row__gym--text{
    color: white;
}