#contact{
    text-align: center;
    background-image: url("../assets/img/fondocontact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #iconos{
    color: #ac0000;
    font-size: 5vh;
}

#iconos:hover{
    color: #700101;
}

#pag2{
background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
} */
.row{
    margin: 4vw;
    padding: 4vw;

}

#row__gym--text{
    color: white;
}

/* footer div a {
    padding: 3vw;
    text-align: center;
    font-size: 5vw;
    text-align: center;
    font-size: 3vw; }
  
.redes a:hover{
    color: rgba(0, 0, 0, 0.863);
}
  
.redes {
    padding-top: 3rem;
    text-align: center;
    padding-top: 3rem;
    text-align: center; } */